@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="/404found/styles.css">
</head>
<body>
    <div class="content">
        <h1>Oops! Bu burger eksik, tıpkı bu sayfa gibi!</h1>
        <p>Aradığınız sayfa mevcut değil gibi görünüyor. Endişelenmeyin, aşağıda geri dönüş yolunu bulabilirsiniz!</p>
        <div class="buttons">
            <a href="/Default/Index" class="btn">Ana Sayfa</a>
            <a href="/Menu/Index/" class="btn">Menü</a>
        </div>
    </div>
</body>
</html>
