@model SignalRWebUI.Dtos.IdentityDtos.LoginDto
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kullanıcı Giriş Sayfası</title>
    <link rel="stylesheet" href="~/register_page/style.css">
</head>
<body>
    <div class="background">
        <div class="form-container">
            <form class="form-detail" action="#" method="post">
                <h2>Kullanıcı Girişi</h2>
                <div class="form-row">
                    <input type="text" asp-for="Username" id="username" class="input-text" placeholder="Kullanıcı Adı" required>
                </div>
                <div class="form-row">
                    <input type="password" asp-for="Password" id="password" class="input-text" placeholder="Şifre" required>
                </div>
                <div class="form-row-last">
                    <input type="submit" name="login" class="register" value="Giriş Yap">
                </div>
            </form>
        </div>
    </div>
</body>
</html>

